@page {
	size: A4;
	margin: 0;
}

html,
body {
	margin: 0;
	padding: 0;
}

.page {
	width: 210mm;
	height: 297mm;

	display: grid;
	grid-template-columns: repeat(3, 63mm);
	grid-template-rows: repeat(3, 88mm);

	gap: 6mm;

	justify-content: center; /* center horizontally */
	align-content: center; /* center vertically */

	page-break-after: always;
	break-after: page;
}

.card {
	width: 100%;
	height: 100%;

	box-sizing: border-box;
	border: 0.5mm solid black;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	break-inside: avoid;
	page-break-inside: avoid;
}
